## Lect 2: Python Basics

#### 1)Basic Variables in Python: 
##### A) Numbers 
     1. Integer
     2. Float
##### B) Strings

In [10]:
a=10
b="Python is easy to learn"

In [3]:
b

'Python is easy to learn'

In [11]:
type(a)

int

The following identifiers are used as reserved words and should not be used as variable names:

    False      class      finally    is         return
    None       continue   for        lambda     try
    True       def        from       nonlocal   while
    and        del        global     not        with
    as         elif       if         or         yield
    assert     else       import     pass
    break      except     in         raise
    
Additionally, the following built-in utility functions are always available:

    abs() dict() help() min() setattr() all() dir() hex() next() slice() any()
    divmod() id() object() sorted() ascii() enumerate() input() oct() staticmethod()
    bin() eval() int() open() str() bool() exec() isinstance() ord() sum() bytearray()
    filter() issubclass() pow() super() bytes() float() iter() print() tuple()
    callable() format() len() property() type() chr() frozenset() list() range()
    vars() classmethod() getattr() locals() repr() zip() compile() globals() map()
    reversed() __import__() complex() hasattr() max() round() delattr() hash()
    memoryview() set()

In [13]:
print(type(b) is int)
print(type(b) is str)

False
True

In [14]:
range(a)

range(0, 10)

In [15]:
split = b.split(" ")

In [16]:
split

['Python', 'is', 'easy', 'to', 'learn']

In [17]:
"-".join(split)

'Python-is-easy-to-learn'

In [18]:
name = "HKW powerplant"
capacity = 889.22564641
technology = "CHP Lignite"
print(f"In Cottbus, there is a {technology} power plant called {name}. It has a nominal capacity of {capacity:.2f} MW.")

In Cottbus, there is a CHP Lignite power plant called HKW powerplant. It has a nominal capacity of 889.23 MW.

##### C) List

In [24]:
list1=[5,"Two"]
x = "Long list" if len(list1) > 2 else "Short list"
print(x)

Short list

In [26]:
type(list1)

list

In [22]:
len(list1)

4

In [10]:
list2=["one",2,3,4]

In [11]:
x=f"The {list2} is a Integer" if type(list2[1])==int else "The {list2} is String"

In [12]:
x

"The ['one', 2, 3, 4] is a Integer"

In [13]:
list2[0:4]

['one', 2, 3, 4]

In [14]:
type(list2[0:4])

list

##### D) Dictionaries

In [28]:
dict1={"name":"John","subjects":{"first_year":"RES"}}

In [32]:
dict1["subjects"]

{'first_year': 'RES'}

In [34]:
type(dict1["subjects"])

dict

In [18]:
dict1["key2"]["inner_key"]

2

In [35]:
powerplants = {'coal': 10, 'wind': 20, 'gas': 30}

for index, type in enumerate(powerplants):
    print(f'Type:{type}, Capacity:{powerplants[type]} MW')

Type:coal, Capacity:10 MW
Type:wind, Capacity:20 MW
Type:gas, Capacity:30 MW

In [36]:
import pandas as pd
import numpy as np

In [37]:
powerplants=pd.DataFrame(list(powerplants.items()))

In [39]:
powerplants.tail(2)

      0   1
1  wind  20
2   gas  30

##### E) Tuple

In [40]:
t=(1,2,3,4,5)

In [41]:
t[0]==1

True

In [42]:
d=sum(t)
d

15

#### 2)Mathematical operations

In [43]:
a=2
b=3
c=a+b
c

5

In [27]:
c=a*b
c

6

In [28]:
print(round(c))

6

In [29]:
101 % 2

1

In [30]:
round(120/29)

4

#### 3)Comparison Operators
Objects can be compared using operators which leads to Boolean result:

| Operator  | Description                          |
| :-------- | :----------------------------------- |
| `x == y ` | is `x` equal to `y`?                 |
| `x != y`  | is `x` not equal to `y`?             |
| `x > y`   | is `x` greater than `y`?             |
| `x >= y`  | is `x` greater than or equal to `y`? |
| `x < y`   | is `x` less than `y`?                |
| `x <= y`  | is `x` less than or equal to `y`?    |
| `x is y`  | is `x` the same object as `y`?       |

In [44]:
x=11
y=1

In [45]:
if x<10:
    print("The entered number is less than 10")

elif x==10:
    print("The entered number is 10")

else:
    print("The entered number is greater than 10")

The entered number is greater than 10

#### 4)Loops

In [46]:
# While loop
x=8
while x==10:
    x+=1
print("X is now equal to 10")

X is now equal to 10

In [34]:
# For loop
list2=[1,2,3,4,5]

for tzdtqw in list2:
    print(tzdtqw)

1
2
3
4
5

In [35]:
import pandas as pd

In [36]:
df5=pd.DataFrame(list2)
df5

   0
0  1
1  2
2  3
3  4
4  5

In [37]:
out=[num**3 for num in list2]

In [38]:
out

[1, 8, 27, 64, 125]

#### 5)Functions

In [47]:
def  welcome(name="Everyone"):
    """
    This function welcomes all students
    who attend this lecture
    """
    #return f"Hello {name}"
    print(f"Welcome to the class {name}")

In [49]:
welcome()

Welcome to the class Everyone

In [50]:
welcome("Energy Modelers")

Welcome to the class Energy Modelers

In [51]:
welcome()

Welcome to the class Everyone

In [52]:
def multiby2(num=2):
    return num*2

In [53]:
multiby2(10)

20

In [54]:
list3=[1,2,3,4,5,6,7,10]

##### Map

In [46]:
list(map(multiby2,list3))

[2, 4, 6, 8, 10, 12, 14, 20]

##### Lambda Expression

In [55]:
output=lambda num: num*11

In [56]:
output(10)

110

In [57]:
list((filter(lambda num: num%3!=0,list3)))

[1, 2, 4, 5, 7, 10]